$colormap: (
  primary: (
    100: hsl(170 100% 32% / 0.1),
    300: hsl(170 100% 32% / 0.4),
    400: hsl(170, 100%, 32%),
  ),
  secondary: (
    100: hsl(36 88% 53% / 0.1),
    300: hsl(36 88% 53% / 0.4),
    400: hsl(36, 88%, 53%),
  ),
  "blue": (
    400: hsl(230 100% 41%),
  ),
  "grey": (
    400: hsl(0, 0%, 85%),
  ),
  "white": (
    100: hsl(0 0% 100% / 0.1),
    300: hsl(0 0% 100% / 0.4),
    400: hsl(0 0% 100%),
  ),
  dark: (
    100: hsl(0 0% 10% / 0.1),
    300: hsl(0 0% 10% / 0.4),
    400: hsl(0 0% 10%),
  ),
);
