// Font
@import url("https://fonts.cdnfonts.com/css/inter");
// ! Use @font-face  and local font see Kevin-Powell video

@font-face {
  font-family: "Expletus Sans";
  src: url("../../assets/fonts/Expletus_Sans/ExpletusSans-VariableFont_wght.woff2");
  font-weight: 400 700;
}
$ff-poppins: "Poppins", sans-serif;
$ff-inter: "Inter", sans-serif;
$ff-expletus: "Expletus Sans", sans-serif;

// letter-spacing
$letter-spacing: (
  1: 4.75px,
  2: 2.7px,
  3: 2.35px,
);
// Font size
$font-sizes: (
  desktop: (
    900: clamp(2rem, 3vw, 2.5rem),
    600: 1.375rem,
    500: 1.125rem,
    400: 1rem,
    300: 0.875rem,
    200: 0.75rem,
  ),
  tablet: (
    800: 5rem,
    // 700: 2.5rem,
    600: 1.5rem,
    500: 1.25rem,
    400: 1rem,
  ),
  mobile: (
    800: 6.25rem,
    // 700: 3.5rem,
    600: 2rem,
    500: 1.75rem,
    400: 1.125rem,
  ),
);

$font-weight: (
  100: 100,
  200: 200,
  300: 300,
  400: 400,
  500: 500,
  600: 600,
  700: 700,
);
