@use "../abstracts/layout-scale" as *;
@use "../abstracts/mixins" as *;

/*
* change the name of col-12 to grid-layout or something fancy
* make grid responsive with 8 columns for tablet and 4 columns for mobile
* make container more useful
*/
.container {
  margin-inline: auto;
  max-width: 90rem;

  &__landing {
    padding-inline: 12.5rem;
  }
}

.col-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}
.grid-container {
  &__signup {
    display: grid;
    place-items: center;
    padding-inline: 1rem;
    row-gap: var(--container-row-gap, 2rem);
    column-gap: var(--container-column-gap, 2rem);

    @include mediaquery(s) {
      grid-template-columns:
        var(--conter-left-size, minmax(1fr, 30rem))
        var(--conter-right-size, minmax(1.5fr, 45rem));
    }
  }

  &__signin {
    display: grid;
    place-items: center;
    max-width: 90rem;
    margin-inline: auto;
    row-gap: var(--container-row-gap, 2rem);
    column-gap: var(--container-column-gap, 2rem);

    @include mediaquery(s) {
      grid-template-columns:
        var(--conter-right-size, minmax(1fr, 47.25rem))
        var(--conter-left-size, minmax(1fr, 42.75rem));
    }
  }
}
