@import url("https://fonts.cdnfonts.com/css/inter");
@font-face {
  font-family: "Expletus Sans";
  src: url("../../assets/fonts/Expletus_Sans/ExpletusSans-VariableFont_wght.woff2");
  font-weight: 400 700;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margin, padding and font-size */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Allow percentage-based heights in the application */
html,
body {
  height: 100%;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a.nav-links {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Remove animations and transition on window resize */
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

/* Screen reader only class */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* Global body css */
body {
  color: var(--clr-dark-400);
  font-size: var(--fs-400);
  font-family: "Inter", sans-serif;
}

:root {
  /* font-size variables */
  --fs-900: clamp(2rem, 3vw, 2.5rem);
  --fs-800: clamp(2rem, 3vw, 2.625rem);
  --fs-600: 1.375rem;
  --fs-500: 1.125rem;
  --fs-400: 1rem;
  --fs-300: 0.875rem;
  --fs-200: 0.75rem;
  /* font-weight variables */
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
}

:root {
  --clr-primary-100: hsla(170, 100%, 32%, 0.1);
  --clr-primary-300: hsla(170, 100%, 32%, 0.4);
  --clr-primary-350: hsla(170, 100%, 32%, 0.8);
  --clr-primary-400: hsl(170, 100%, 32%);
  --clr-primary-500: hsl(170, 100%, 40%);
  --clr-secondary-100: hsla(36, 88%, 53%, 0.1);
  --clr-secondary-300: hsla(36, 88%, 53%, 0.4);
  --clr-secondary-350: hsla(36, 88%, 53%, 0.6);
  --clr-secondary-400: hsl(36, 88%, 53%);
  --clr-blue-400: hsl(230, 100%, 41%);
  --clr-grey-400: hsl(0, 0%, 85%);
  --clr-white-100: hsla(0, 0%, 100%, 0.1);
  --clr-white-300: hsla(0, 0%, 100%, 0.4);
  --clr-white-400: hsl(0, 0%, 100%);
  --clr-dark-100: hsla(0, 0%, 10%, 0.1);
  --clr-dark-300: hsla(0, 0%, 10%, 0.4);
  --clr-dark-400: hsl(0, 0%, 10%);
}

.bg-primary-100 {
  background-color: hsla(170, 100%, 32%, 0.1);
}

.bg-primary-300 {
  background-color: hsla(170, 100%, 32%, 0.4);
}

.bg-primary-350 {
  background-color: hsla(170, 100%, 32%, 0.8);
}

.bg-primary-400 {
  background-color: hsl(170, 100%, 32%);
}

.bg-primary-500 {
  background-color: hsl(170, 100%, 40%);
}

.bg-secondary-100 {
  background-color: hsla(36, 88%, 53%, 0.1);
}

.bg-secondary-300 {
  background-color: hsla(36, 88%, 53%, 0.4);
}

.bg-secondary-350 {
  background-color: hsla(36, 88%, 53%, 0.6);
}

.bg-secondary-400 {
  background-color: hsl(36, 88%, 53%);
}

.bg-blue-400 {
  background-color: hsl(230, 100%, 41%);
}

.bg-grey-400 {
  background-color: hsl(0, 0%, 85%);
}

.bg-white-100 {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.bg-white-300 {
  background-color: hsla(0, 0%, 100%, 0.4);
}

.bg-white-400 {
  background-color: hsl(0, 0%, 100%);
}

.bg-dark-100 {
  background-color: hsla(0, 0%, 10%, 0.1);
}

.bg-dark-300 {
  background-color: hsla(0, 0%, 10%, 0.4);
}

.bg-dark-400 {
  background-color: hsl(0, 0%, 10%);
}

.bg-gradient {
  background: linear-gradient(135deg, var(--clr-primary-350), var(--clr-secondary-350));
}
.bg-gradient__radial {
  background: radial-gradient(ellipse at top, var(--clr-secondary-350), transparent), radial-gradient(ellipse at top, var(--clr-primary-350), transparent), url("https://images.unsplash.com/photo-1494390248081-4e521a5940db?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=806&q=80") no-repeat center cover;
}

.ff-inter {
  font-family: "Inter", sans-serif;
}

.ff-expletus {
  font-family: "Expletus Sans", sans-serif;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fw-100 {
  font-weight: var(--fw-100);
}

.fw-200 {
  font-weight: var(--fw-200);
}

.fw-300 {
  font-weight: var(--fw-300);
}

.fw-400 {
  font-weight: var(--fw-400);
}

.fw-500 {
  font-weight: var(--fw-500);
}

.fw-600 {
  font-weight: var(--fw-600);
}

.fw-700 {
  font-weight: var(--fw-700);
}

.text-uppercase {
  text-transform: uppercase;
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.paragraph-width {
  max-width: 50ch;
}

.flow * + * {
  margin-top: var(--flow-gap, 1rem);
}

.ms-auto {
  -webkit-margin-start: auto;
          margin-inline-start: auto;
}

.mx-auto {
  margin-inline: auto;
}

.p-0 {
  padding: 0 !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ps-0 {
  padding-left: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pe-0 {
  padding-right: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.m-0 {
  padding: 0 !important;
}

.mx-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.my-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ms-0 {
  padding-left: 0 !important;
}

.mt-0 {
  padding-top: 0 !important;
}

.me-0 {
  padding-right: 0 !important;
}

.mb-0 {
  padding-bottom: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.px-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.ps-1 {
  padding-left: 0.25rem !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pe-1 {
  padding-right: 0.25rem !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.m-1 {
  padding: 0.25rem !important;
}

.mx-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.my-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.ms-1 {
  padding-left: 0.25rem !important;
}

.mt-1 {
  padding-top: 0.25rem !important;
}

.me-1 {
  padding-right: 0.25rem !important;
}

.mb-1 {
  padding-bottom: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.ps-2 {
  padding-left: 0.5rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pe-2 {
  padding-right: 0.5rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.m-2 {
  padding: 0.5rem !important;
}

.mx-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.my-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.ms-2 {
  padding-left: 0.5rem !important;
}

.mt-2 {
  padding-top: 0.5rem !important;
}

.me-2 {
  padding-right: 0.5rem !important;
}

.mb-2 {
  padding-bottom: 0.5rem !important;
}

.p-3 {
  padding: 0.75rem !important;
}

.px-3 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

.py-3 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.ps-3 {
  padding-left: 0.75rem !important;
}

.pt-3 {
  padding-top: 0.75rem !important;
}

.pe-3 {
  padding-right: 0.75rem !important;
}

.pb-3 {
  padding-bottom: 0.75rem !important;
}

.m-3 {
  padding: 0.75rem !important;
}

.mx-3 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

.my-3 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.ms-3 {
  padding-left: 0.75rem !important;
}

.mt-3 {
  padding-top: 0.75rem !important;
}

.me-3 {
  padding-right: 0.75rem !important;
}

.mb-3 {
  padding-bottom: 0.75rem !important;
}

.p-4 {
  padding: 1rem !important;
}

.px-4 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.py-4 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.ps-4 {
  padding-left: 1rem !important;
}

.pt-4 {
  padding-top: 1rem !important;
}

.pe-4 {
  padding-right: 1rem !important;
}

.pb-4 {
  padding-bottom: 1rem !important;
}

.m-4 {
  padding: 1rem !important;
}

.mx-4 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.my-4 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.ms-4 {
  padding-left: 1rem !important;
}

.mt-4 {
  padding-top: 1rem !important;
}

.me-4 {
  padding-right: 1rem !important;
}

.mb-4 {
  padding-bottom: 1rem !important;
}

.p-5 {
  padding: 1.25rem !important;
}

.px-5 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}

.py-5 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
}

.ps-5 {
  padding-left: 1.25rem !important;
}

.pt-5 {
  padding-top: 1.25rem !important;
}

.pe-5 {
  padding-right: 1.25rem !important;
}

.pb-5 {
  padding-bottom: 1.25rem !important;
}

.m-5 {
  padding: 1.25rem !important;
}

.mx-5 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}

.my-5 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
}

.ms-5 {
  padding-left: 1.25rem !important;
}

.mt-5 {
  padding-top: 1.25rem !important;
}

.me-5 {
  padding-right: 1.25rem !important;
}

.mb-5 {
  padding-bottom: 1.25rem !important;
}

.p-6 {
  padding: 1.5rem !important;
}

.px-6 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.py-6 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.ps-6 {
  padding-left: 1.5rem !important;
}

.pt-6 {
  padding-top: 1.5rem !important;
}

.pe-6 {
  padding-right: 1.5rem !important;
}

.pb-6 {
  padding-bottom: 1.5rem !important;
}

.m-6 {
  padding: 1.5rem !important;
}

.mx-6 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.my-6 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.ms-6 {
  padding-left: 1.5rem !important;
}

.mt-6 {
  padding-top: 1.5rem !important;
}

.me-6 {
  padding-right: 1.5rem !important;
}

.mb-6 {
  padding-bottom: 1.5rem !important;
}

.p-7 {
  padding: 1.75rem !important;
}

.px-7 {
  padding-left: 1.75rem !important;
  padding-right: 1.75rem !important;
}

.py-7 {
  padding-top: 1.75rem !important;
  padding-bottom: 1.75rem !important;
}

.ps-7 {
  padding-left: 1.75rem !important;
}

.pt-7 {
  padding-top: 1.75rem !important;
}

.pe-7 {
  padding-right: 1.75rem !important;
}

.pb-7 {
  padding-bottom: 1.75rem !important;
}

.m-7 {
  padding: 1.75rem !important;
}

.mx-7 {
  padding-left: 1.75rem !important;
  padding-right: 1.75rem !important;
}

.my-7 {
  padding-top: 1.75rem !important;
  padding-bottom: 1.75rem !important;
}

.ms-7 {
  padding-left: 1.75rem !important;
}

.mt-7 {
  padding-top: 1.75rem !important;
}

.me-7 {
  padding-right: 1.75rem !important;
}

.mb-7 {
  padding-bottom: 1.75rem !important;
}

.p-8 {
  padding: 2rem !important;
}

.px-8 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.py-8 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.ps-8 {
  padding-left: 2rem !important;
}

.pt-8 {
  padding-top: 2rem !important;
}

.pe-8 {
  padding-right: 2rem !important;
}

.pb-8 {
  padding-bottom: 2rem !important;
}

.m-8 {
  padding: 2rem !important;
}

.mx-8 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.my-8 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.ms-8 {
  padding-left: 2rem !important;
}

.mt-8 {
  padding-top: 2rem !important;
}

.me-8 {
  padding-right: 2rem !important;
}

.mb-8 {
  padding-bottom: 2rem !important;
}

.p-9 {
  padding: 3rem !important;
}

.px-9 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.py-9 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.ps-9 {
  padding-left: 3rem !important;
}

.pt-9 {
  padding-top: 3rem !important;
}

.pe-9 {
  padding-right: 3rem !important;
}

.pb-9 {
  padding-bottom: 3rem !important;
}

.m-9 {
  padding: 3rem !important;
}

.mx-9 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.my-9 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.ms-9 {
  padding-left: 3rem !important;
}

.mt-9 {
  padding-top: 3rem !important;
}

.me-9 {
  padding-right: 3rem !important;
}

.mb-9 {
  padding-bottom: 3rem !important;
}

.p-auto {
  padding: auto !important;
}

.px-auto {
  padding-left: auto !important;
  padding-right: auto !important;
}

.py-auto {
  padding-top: auto !important;
  padding-bottom: auto !important;
}

.ps-auto {
  padding-left: auto !important;
}

.pt-auto {
  padding-top: auto !important;
}

.pe-auto {
  padding-right: auto !important;
}

.pb-auto {
  padding-bottom: auto !important;
}

.m-auto {
  padding: auto !important;
}

.mx-auto {
  padding-left: auto !important;
  padding-right: auto !important;
}

.my-auto {
  padding-top: auto !important;
  padding-bottom: auto !important;
}

.ms-auto {
  padding-left: auto !important;
}

.mt-auto {
  padding-top: auto !important;
}

.me-auto {
  padding-right: auto !important;
}

.mb-auto {
  padding-bottom: auto !important;
}

.container {
  margin-inline: auto;
  width: 100%;
}
@media (min-width: 80em) {
  .container {
    max-width: 62.5rem;
  }
}

.grid-container__signup {
  display: grid;
  place-items: center;
  padding-inline: 1rem;
  row-gap: var(--container-row-gap, 2rem);
  -moz-column-gap: var(--container-column-gap, 2rem);
       column-gap: var(--container-column-gap, 2rem);
}
@media (min-width: 37.5em) {
  .grid-container__signup {
    grid-template-columns: var(--conter-left-size, minmax(1fr, 30rem)) var(--conter-right-size, minmax(1.5fr, 45rem));
  }
}
.grid-container__signin {
  display: grid;
  place-items: center;
  max-width: 90rem;
  margin-inline: auto;
  row-gap: var(--container-row-gap, 2rem);
  -moz-column-gap: var(--container-column-gap, 2rem);
       column-gap: var(--container-column-gap, 2rem);
}
@media (min-width: 37.5em) {
  .grid-container__signin {
    grid-template-columns: var(--conter-right-size, minmax(1fr, 47.25rem)) var(--conter-left-size, minmax(1fr, 42.75rem));
  }
}

.input-signup {
  height: 48px;
  width: 200px;
  border: 1px solid var(--clr-grey-400);
  background-color: var(--clr-white-400);
  border-radius: 8px;
  padding: 0.75rem 1rem;
  box-shadow: 0px 4px 4px var(--clr-dark-100);
}
.input-signup:focus {
  outline: none;
  border: 2px solid var(--clr-primary-400);
  background-color: var(--clr-white-400);
  box-shadow: 0px 4px 4px var(--clr-primary-100);
}
.input-signup:not(#fname, #lname) {
  width: 420px;
}
.input-signup__container {
  --flow-gap: 1rem;
  position: relative;
}
.input-signup__container .label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1rem;
  display: flex;
  align-items: center;
  pointer-events: none;
  font-size: 14px;
}
.input-signup__container .label__text {
  transition: all 250ms ease-out;
  color: var(--clr-dark-300);
}
.input-signup__container .fa-eye {
  display: none;
}
.input-signup__container:focus-within .label__text,
.input-signup__container:focus-within #toggle-password {
  color: var(--clr-primary-400);
}

.input-signup__container:focus-within .label__text,
:not(.input-signup[value=""]) + .label .label__text {
  font-size: 12px;
  transform: translate(0, -150%);
  background-color: white;
  padding-inline: 8px;
}

.input-signup__container:focus-within .far,
:not(.input-signup[value=""]) + #toggle-password {
  display: block;
  right: 1rem;
  position: absolute;
  top: 1rem;
  cursor: pointer;
}

:not(.input-signup[value=""]) + .far {
  color: var(--clr-dark-300);
}

.label,
.input-signup__container:has(#lname),
#toggle-password {
  --flow-gap: none;
}

.sign-up-btn,
.sign-in-btn {
  --flow-gap: 3rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  width: 420px;
  height: 3rem;
  border-radius: 0.5rem;
  color: var(--clr-white-400);
  background: var(--clr-primary-400);
  box-shadow: 0px 4px 4px var(--clr-dark-100);
  transition: background 500ms;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}
.sign-up-btn::before,
.sign-in-btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--clr-primary-500);
  width: 10%;
  aspect-ratio: 1;
  border-radius: 50%;
  inset: 0;
  margin: auto;
  opacity: 0;
  transition: scale 500ms 166.6666666667ms, opacity 250ms;
}
.sign-up-btn:active::before,
.sign-in-btn:active::before {
  scale: 20;
  opacity: 1;
}
.sign-up-btn:is(:hover, :focus-visible),
.sign-in-btn:is(:hover, :focus-visible) {
  box-shadow: 0 4px 4px 1px var(--clr-primary-300);
}
.sign-up-btn > span,
.sign-in-btn > span {
  z-index: -1;
  width: 33.3333333333%;
  height: 100%;
  background: transparent;
  position: absolute;
}
.sign-up-btn > :first-child,
.sign-in-btn > :first-child {
  left: 0;
  top: 0;
}
.sign-up-btn:has(:first-child:active)::before,
.sign-in-btn:has(:first-child:active)::before {
  margin-left: 0;
  transition: scale 250ms, opacity 125ms;
}
.sign-up-btn > :last-child,
.sign-in-btn > :last-child {
  --flow-gap: none;
  right: 0;
  top: 0;
}
.sign-up-btn:has(:last-child:active)::before,
.sign-in-btn:has(:last-child:active)::before {
  margin-right: 0;
  transition: scale 250ms, opacity 125ms;
}

.illustration__signin {
  grid-column: 1;
  grid-row: 1;
  justify-self: flex-start;
  overflow: hidden;
}
.illustration__signin > svg {
  max-height: 39rem;
  aspect-ratio: 1;
}

.form__signin {
  height: 100%;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 7.25rem;
}
.form__signin hr {
  height: 3px;
  color: var(--clr-white-400);
  width: 100%;
}

#usrname-email::before {
  src: url("../../assets/icons/key.svg");
  content: "";
}

ion-icon {
  position: absolute;
  top: 0.75rem;
  left: 1.3125rem;
  font-size: 1.5rem;
  text-align: center;
  color: var(--clr-secondary-400);
}

.input-signin {
  --flow-gap: none;
  height: 48px;
  width: 420px;
  border: none;
  background-color: var(--clr-white-400);
  border-radius: 8px;
  padding: 0.75rem 1.3125rem;
  box-shadow: 0px 4px 4px var(--clr-dark-100);
  text-indent: 2.0625rem;
}
.input-signin__container {
  position: relative;
}

.signin__logo {
  --width: 130px;
  width: var(--width);
  height: calc(0.7415137615 * var(--width));
  max-height: 218px;
  max-width: 161.65px;
}

.no-account {
  justify-self: flex-end;
}

.illustration__signup {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  overflow: hidden;
}
.illustration__signup > svg {
  max-height: 39rem;
  aspect-ratio: 1;
}

form {
  grid-column: 1;
  grid-row: 1;
}

.name {
  --flow-gap: 1.25rem;
  display: flex;
  justify-content: space-between;
}

.terms-and-conditions {
  margin-inline: auto;
  width: 43ch;
  font-size: var(--fs-200);
  line-height: 1.2;
  text-align: center;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-expletus-sans: "Expletus Sans";
  --font-league-gothic: "League Gothic";
  /* font sizes */
  --font-size-base: 1rem;
  --font-size-29xl: 3rem;
  --font-size-xl: 1.25rem;
  --font-size-sm: 0.88rem;
  /* Colors */
  --primary: #00a39c;
  --color-mediumseagreen: #06d6a0;
  --color-darkslategray: #073b4c;
  --color-black: #000;
  --color-white: #fff;
  --text-black: #1a1a1a;
  /* Paddings */
  --padding-2xs-6: 0.66rem;
  --padding-smi-4: 0.78rem;
  /* border radiuses */
  --br-5xs: 8px;
  --br-21xl: 40px;
}

.footer-svg-icon {
  position: absolute;
  height: calc(100% - 78px);
  width: calc(100% - 920px);
  top: 0;
  right: 28.75rem;
  bottom: 4.88rem;
  left: 28.75rem;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.health-trackr {
  position: absolute;
  top: 0.13rem;
  left: 25.02rem;
  line-height: 1.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.48rem;
  height: 1.25rem;
}

.copyright-txt {
  position: absolute;
  top: calc(50% + 31px);
  left: calc(50% - 500px);
  width: 62.5rem;
  height: 1.5rem;
  overflow: hidden;
}

.copyright-container,
.created-at {
  position: absolute;
  left: calc(50% - 500px);
  width: 62.5rem;
}

.created-at {
  top: calc(50% + 55px);
  height: 1.5rem;
  overflow: hidden;
  opacity: 0.5;
}

.copyright-container {
  top: calc(50% - 79px);
  height: 9.88rem;
}

.section-footer {
  position: absolute;
  top: 288.84rem;
  left: calc(50% - 720px);
  background-color: var(--primary);
  width: 90rem;
  height: 22.38rem;
  overflow: hidden;
  text-align: center;
}

.the-world-is {
  margin: 0;
}

.the-world-is-container {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 1.88rem;
}

.inspiration-article-paragraph,
.inspiration-article-paragraph1,
.inspiration-article-paragraph2 {
  position: absolute;
  top: 24.22rem;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: 0 2.44rem 0 0;
  align-items: flex-start;
  justify-content: flex-start;
}

.inspiration-article-paragraph1,
.inspiration-article-paragraph2 {
  top: 14.22rem;
  padding: 0 0.5rem 0 0;
}

.inspiration-article-paragraph2 {
  top: 6.1rem;
  padding: 0 2.56rem 0 0;
}

.heading-2 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-29xl);
  line-height: 3.6rem;
  font-family: var(--font-league-gothic);
  color: var(--color-darkslategray);
  display: flex;
  align-items: center;
  width: 15.24rem;
  height: 3.56rem;
}

.inspiration-article {
  position: absolute;
  top: calc(50% - 238.8px);
  left: 0;
  width: 37.5rem;
  height: 29.85rem;
  overflow: hidden;
}

.divmask-group-icon {
  position: relative;
  width: 18.75rem;
  height: 18.75rem;
}

.inspiration-article-icon {
  position: absolute;
  top: calc(50% - 320px);
  left: 43.75rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.5rem;
}

.inspiration-container,
.section-inspiration {
  position: absolute;
  top: 6.25rem;
  left: calc(50% - 500px);
  width: 62.5rem;
  height: 40rem;
  overflow: hidden;
}

.section-inspiration {
  top: 236.34rem;
  left: calc(50% - 720px);
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: radial-gradient(rgb(0, 0, 0) 1px, transparent 1px), radial-gradient(rgb(0, 0, 0) 1px, rgb(6, 214, 160) 1px);
  background-position: 0 0, 30px 30px;
  background-size: 60px 60px;
  border-radius: 0;
}

.image-container-icon {
  width: calc(100% - 680px);
  right: 42.5rem;
  left: 0;
  max-width: 100%;
  height: 20.41rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-container,
.image-container-icon,
.image-container-icon1,
.yoga-icon {
  position: absolute;
  top: 0;
  border-radius: var(--br-21xl);
  overflow: hidden;
}

.yoga-icon {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-container,
.image-container-icon1 {
  width: calc(100% - 680px);
  height: 20.41rem;
}

.image-container {
  right: 21.25rem;
  left: 21.25rem;
}

.image-container-icon1 {
  right: 0;
  left: 42.5rem;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-container1 {
  right: 42.5rem;
  left: 0;
}

.image-container-icon2,
.image-container1,
.image-container2 {
  position: absolute;
  width: calc(100% - 680px);
  top: 21.66rem;
  border-radius: var(--br-21xl);
  height: 20.41rem;
  overflow: hidden;
}

.image-container-icon2 {
  right: 21.25rem;
  left: 21.25rem;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-container2 {
  right: 0;
  left: 42.5rem;
}

.heading-21 {
  position: absolute;
  top: -7.35rem;
  left: 0;
  line-height: 3.6rem;
  display: flex;
  align-items: center;
  width: 15.66rem;
  height: 3.56rem;
}

.section-sucess,
.sucess-images {
  position: absolute;
  top: 13.6rem;
  left: calc(50% - 500px);
  width: 62.5rem;
  height: 42.06rem;
}

.section-sucess {
  top: 174.42rem;
  left: calc(50% - 720px);
  background-color: #ffd166;
  width: 90rem;
  height: 61.91rem;
  overflow: hidden;
  font-size: var(--font-size-29xl);
  font-family: var(--font-league-gothic);
}

.sign-up {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 1.05rem;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
}

.btn-sign-up {
  cursor: pointer;
  border: 0;
  padding: 0.66rem 0.93rem 0.77rem 0.94rem;
  background-color: #118ab2;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.learn-more {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 1.05rem;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
}

.btn-learn-more,
.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.btn-learn-more {
  cursor: pointer;
  border: 0;
  padding: 0.66rem 0.95rem 0.77rem 0.88rem;
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
}

.buttons-container {
  position: absolute;
  top: calc(50% + 109.79px);
  left: calc(50% - 100.06px);
  overflow: hidden;
  padding: 0.63rem 0 0;
  gap: 0.63rem;
}

.what-are-you-container {
  position: relative;
  line-height: 1.5rem;
  font-weight: 500;
}

.heading-22,
.paragraph-get-started {
  position: absolute;
  display: flex;
  align-items: center;
}

.paragraph-get-started {
  top: 17.35rem;
  left: 32.16rem;
  flex-direction: column;
  padding: 0 0.44rem 0 0.43rem;
  justify-content: flex-start;
}

.heading-22 {
  top: 12.5rem;
  left: 40.47rem;
  font-size: var(--font-size-29xl);
  line-height: 3.6rem;
  font-family: var(--font-league-gothic);
  justify-content: center;
  width: 9.08rem;
  height: 3.56rem;
}

.svg-get-started-icon {
  position: absolute;
  height: calc(100% - 439.59px);
  width: calc(100% - 1360px);
  top: 6.25rem;
  right: 42.5rem;
  bottom: 21.22rem;
  left: 42.5rem;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.section-get-started {
  position: absolute;
  top: 129.44rem;
  left: calc(50% - 720px);
  background-color: var(--color-mediumseagreen);
  width: 90rem;
  height: 32.47rem;
  text-align: center;
  color: var(--color-darkslategray);
}

.consistently-improve-and-container {
  position: absolute;
  top: 2.5rem;
  left: 0;
  line-height: 1.5rem;
  font-weight: 500;
}

.heading-23 {
  position: absolute;
  top: 0.19rem;
  left: 0;
  font-size: var(--font-size-xl);
  letter-spacing: -0.5px;
  line-height: 1.88rem;
  display: flex;
  color: var(--color-darkslategray);
  align-items: center;
  width: 12.32rem;
  height: 1.5rem;
}

.revolution-feature-container {
  position: absolute;
  width: calc(100% - 693.33px);
  top: 8rem;
  right: 0;
  left: 43.33rem;
  height: 5.5rem;
}

.heading-24,
.set-track-and {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}

.set-track-and {
  top: 2.63rem;
  line-height: 1.5rem;
  font-weight: 500;
  width: 18.82rem;
  height: 1.25rem;
}

.heading-24 {
  top: 0.19rem;
  font-size: var(--font-size-xl);
  letter-spacing: -0.5px;
  line-height: 1.88rem;
  color: var(--color-darkslategray);
  width: 7.18rem;
  height: 1.5rem;
}

.revolution-feature-container1 {
  position: absolute;
  width: calc(100% - 693.33px);
  top: 8rem;
  right: 21.67rem;
  left: 21.67rem;
  height: 4rem;
}

.heading-25 {
  position: absolute;
  top: 0.19rem;
  left: 0;
  font-size: var(--font-size-xl);
  letter-spacing: -0.5px;
  line-height: 1.88rem;
  display: flex;
  color: var(--color-darkslategray);
  align-items: center;
  width: 9.04rem;
  height: 1.5rem;
}

.revolution-feature-container2 {
  position: absolute;
  width: calc(100% - 693.34px);
  top: 8rem;
  right: 43.33rem;
  left: 0;
  height: 5.5rem;
}

.heading-26 {
  position: absolute;
  top: 0.19rem;
  left: 0;
  font-size: var(--font-size-xl);
  letter-spacing: -0.5px;
  line-height: 1.88rem;
  display: flex;
  color: var(--color-darkslategray);
  align-items: center;
  width: 13.56rem;
  height: 1.5rem;
}

.revolution-feature-container3 {
  position: absolute;
  width: calc(100% - 693.33px);
  top: 0;
  right: 0;
  left: 43.33rem;
  height: 5.5rem;
}

.heading-27 {
  position: absolute;
  top: 0.19rem;
  left: 0;
  font-size: var(--font-size-xl);
  letter-spacing: -0.5px;
  line-height: 1.88rem;
  display: flex;
  color: var(--color-darkslategray);
  align-items: center;
  width: 8.02rem;
  height: 1.5rem;
}

.revolution-feature-container4 {
  position: absolute;
  width: calc(100% - 693.33px);
  top: 0;
  right: 21.67rem;
  left: 21.67rem;
  height: 5.5rem;
}

.heading-28 {
  position: absolute;
  top: 0.19rem;
  left: 0;
  font-size: var(--font-size-xl);
  letter-spacing: -0.5px;
  line-height: 1.88rem;
  display: flex;
  color: var(--color-darkslategray);
  align-items: center;
  width: 11.07rem;
  height: 1.5rem;
}

.revolution-feature-container5 {
  position: absolute;
  width: calc(100% - 693.34px);
  top: 0;
  right: 43.33rem;
  left: 0;
  height: 5.5rem;
}

.revolution-article {
  position: absolute;
  top: calc(50% + 10.8px);
  left: calc(50% - 500px);
  width: 62.5rem;
  height: 13.5rem;
  overflow: hidden;
}

.heading-29 {
  position: absolute;
  top: 7.5rem;
  left: 0;
  line-height: 3.6rem;
  display: flex;
  align-items: center;
  width: 20.05rem;
  height: 3.56rem;
}

.revolution-icon {
  position: absolute;
  height: calc(100% - 77.59px);
  width: calc(100% - 900px);
  top: 0;
  right: 56.25rem;
  bottom: 4.85rem;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  background: linear-gradient(135deg, #000 0%, #073b4c 100%);
  max-height: 100%;
}

.revolution-heading {
  position: absolute;
  top: calc(50% - 226.8px);
  left: calc(50% - 500px);
  width: 62.5rem;
  height: 11.1rem;
  overflow: hidden;
  font-size: var(--font-size-29xl);
  color: var(--color-darkslategray);
  font-family: var(--font-league-gothic);
}

.section-revolution {
  position: absolute;
  top: 76.1rem;
  left: calc(50% - 720px);
  background-color: var(--color-white);
  width: 90rem;
  height: 40.85rem;
  overflow: hidden;
}

.svg-register-icon {
  position: absolute;
  height: calc(100% - 317.59px);
  width: calc(100% - 1340px);
  top: 3.13rem;
  right: 73.13rem;
  bottom: 16.72rem;
  left: 10.63rem;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.join-our-community-container,
.say-goodbye-to-container {
  position: absolute;
  top: 0;
  line-height: 1.88rem;
  font-weight: 500;
}

.say-goodbye-to-container {
  left: 0;
}

.join-our-community-container {
  left: 32.5rem;
}

.register-paragraph {
  position: absolute;
  width: 100%;
  top: 6.1rem;
  right: 0;
  left: 0;
  height: 7.5rem;
  overflow: hidden;
}

.heading-210 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-29xl);
  line-height: 3.6rem;
  font-family: var(--font-league-gothic);
  color: var(--color-darkslategray);
  display: flex;
  align-items: center;
  width: 26.64rem;
  height: 3.56rem;
}

.register-article {
  position: absolute;
  top: 6.25rem;
  left: calc(50% - 500px);
  width: 62.5rem;
  height: 13.6rem;
}

.section-register {
  position: absolute;
  top: 50rem;
  left: calc(50% - 720px);
  background-color: var(--primary);
  width: 90rem;
  height: 26.1rem;
  overflow: hidden;
  font-size: var(--font-size-xl);
}

.frame {
  position: absolute;
  top: 0;
  left: calc(50% - 150px);
  width: 18.75rem;
  height: 9.38rem;
}

.logo-icon {
  position: absolute;
  top: 2.25rem;
  left: 2.06rem;
  width: 8.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.icon__circle-icon {
  position: relative;
  height: 12.5rem;
  width: 12.5rem;
  overflow: hidden;
  flex-shrink: 0;
}

.div {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  display: flex;
  flex-direction: row;
  padding: 0 25rem 34.38rem 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}

.svg-circle-logo {
  position: absolute;
  height: calc(100% - 100px);
  width: calc(100% - 740px);
  top: 3.13rem;
  right: 23.13rem;
  bottom: 3.13rem;
  left: 23.13rem;
}

.contact,
.home,
.services,
.transform {
  position: absolute;
  display: flex;
  align-items: center;
}

.transform {
  top: calc(50% - 167px);
  left: calc(50% - 484px);
  justify-content: center;
  width: 55.44rem;
  height: 22.88rem;
  flex-direction: column;
}
.transform .your-life {
  font-size: var(--fs-900);
}

.contact,
.home,
.services {
  top: -0.06rem;
  line-height: 1.2rem;
  height: 1.25rem;
}

.home {
  left: 0;
  width: 2.88rem;
}

.contact,
.services {
  left: 4.12rem;
  width: 4.3rem;
}

.contact {
  left: 9.65rem;
  width: 3.95rem;
}

.navigation {
  position: absolute;
  bottom: 6.25rem;
  left: calc(50% - 109px);
  width: 13.59rem;
  height: 1.2rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
}

.nav__primary {
  display: flex;
  justify-content: flex-end;
}/*# sourceMappingURL=main.css.map */