@use "sass:math";
$menu-width: 80px;
$menu-width-extended: $menu-width + 200px;
$menu-padding-inline: math.div(($menu-width - 48px), 2);
.dashboard {
  --menu-width: #{$menu-width};

  display: grid;
  grid-template-columns: var(--menu-width) calc(100% - var(--menu-width));
  transition: 0.3s ease;
  user-select: none;

  &.menu-open {
    --menu-width: #{$menu-width-extended};
  }

  &__menu-list {
    --flex-direction: column;
    --align-items: flex-start;
    --flex-gap: 1rem;

    grid-column: 1;
    overflow: hidden;
    height: 100dvh;
    padding: 1.5rem $menu-padding-inline;

    .active {
      // change icon custom properties when active
      --ibr: 0.75rem;
      --ibg: var(--clr-tertiary);
      &.profile {
        --ibr: 50%;
        position: relative;

        > .menu-item__icon:last-of-type {
          background: var(--clr-primary);
          transition: background 1000ms ease-in-out;

          &:active {
            inset: 0;
            position: absolute;
            --ibg: var(--clr-tertiary);
          }
        }
      }
    }
  }
}

.menu-item {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-template-columns: 60px 1fr;
  width: 100%;

  &__icon {
    width: 3rem;
    aspect-ratio: 1;
    display: grid;
    border-radius: var(--ibr, 50%);
    background-color: var(--ibg, var(--clr-primary-400));
    place-items: center;
  }

  ion-icon {
    font-size: var(--fs-600);
    // color: var(--clr-primary);
    color: var(--clr-accent);
    // color: var(--clr-secondary);
  }

  &__desc {
    color: var(--clr-ash);
    font-size: var(--fs-400);

    // for last menu-item__desc of .profile class
    --flex-gap: 0;
  }

  // Profile section
  &.profile {
    margin-top: auto;
    background: var(--clr-primary);
    border-radius: 24px;
  }
}
::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  margin: 0 3px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 40px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}
