@use "../abstracts/layout-scale" as *;
@use "../abstracts/mixins" as *;
.signin {
  // change container property
  .container {
    --cpy: 0;
    --cpx: 0;
    --cmw: 100%;

    min-height: 56.25rem;
    @include mediaquery(s) {
      --cpx: 0;
    }
    @include mediaquery(m) {
    }
    @include mediaquery(l) {
    }
    @include mediaquery(xl) {
    }
    @include mediaquery(xxl) {
      --cmw: 90rem;
    }
  }

  &__illustration {
    display: none;
    @include mediaquery(s) {
      display: block;
    }
    grid-column: 1/2;
    // justify-self: flex-start;
    justify-self: center;
    align-self: center;
    overflow: hidden;
    > svg {
      max-height: 39rem;
      aspect-ratio: 1;
    }
  }
  &__logo {
    // make use of clamp instead of width and max-width
    // --width: 130px;
    --width: clamp(100px, 15vw, 161.65px);
    width: var(--width);
    height: calc(1.3485926384163316 * var(--width));
    max-height: 218px;
    max-width: 161.65px;
  }

  .ff-expletus {
    --flow-gap: 2.5rem;
  }
  &__form {
    --flow-gap: 1.5rem;
    --flex-direction: column;

    grid-column: 2/-1;
    max-width: 39rem;
    // padding-inline: 7rem;

    .btn {
      &:first-of-type {
        --bg: var(--clr-primary);
        --bs: var(--clr-dark-200);
        --hbs: var(--clr-tertiary-400);
      }

      &:last-of-type {
        --flow-gap: 2rem;

        --bg: var(--clr-ash);
        --bs: var(--clr-dark-100);
        --hbs: var(--clr-light-100);
        --hbg: var(--clr-light);

        span:nth-of-type(2) {
          --flow-gap: none;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          gap: 0.75rem;
        }
        .icon__google {
          --size: 1.25rem;
          width: var(--size);
          height: var(--size);

          svg {
            height: var(--size);
          }
        }
      }
    }

    hr {
      --flow-gap: 2rem;

      height: 3px;
      color: var(--clr-ash);
      width: 100%;
    }
  }
  &__action {
    --flex-direction: row;
    --justify-content: space-between;
    width: 25rem;
  }

  .forgot-password {
    --flow-gap: none;
  }
}

.input {
  // .input-signup
  &-signin {
    --flow-gap: none;

    --c: var(--clr-light);
    --bg: var(--clr-light-100);
    --oc: var(--clr-primary-100);
    --bs: var(--clr-primary-100);
    // focus
    --fc: var(--clr-dark);
    --fbg: var(--clr-light-400);
    --foc: var(--clr-primary);
    --fbs: var(--clr-tertiary-200);

    text-indent: 2.0625rem;

    &:focus {
      #toggle-password {
        color: var(--clr-dark);
        cursor: pointer;
      }
    }
    &__container {
      position: relative;
      // password container gap
      &:nth-child(2) {
        --flow-gap: 2rem;
      }
      // email container gap
      &:nth-last-of-type(3) {
        --flow-gap: 3rem;
      }

      ion-icon {
        position: absolute;
        inset: 0;
      }
    }
  }
}

.no-account {
  // justify-self: flex-end;
  margin-top: auto;
}
